/* IMPORTS Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700);

/* RESET */
*, ::after, ::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family:'Roboto', sans-serif;
	color:#fff;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url(../images/contact.jpg);
	background-repeat:no-repeat;
	background-position:50% 0;
	background-size:cover;
	padding: 0;
	margin: 0;
}

/* Start Header */
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin:0 0 50px 0;
}
.logo {
	height: 50px;
	width: 50px;
	margin: 0 10px;
}
h1 {
	text-align:center;
	font-size:66px;
	font-family:'Roboto', sans-serif;
	position:relative;
}
/* End Header */


/* Start CountDown */
.container-countdown {
	background-color: aqua;
	width: 100%;
	min-height: 100%;
}
.content {
	overflow:hidden;
	height: 100%;
}
p {
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	margin:0;
}
p span {
	display:inline-block;
	position:relative;
	padding-bottom:15px;
}
p span:before,
p span:after {
	content:"";
	width:100%;
	height:10px;
	border-bottom:1px double #fff;
	position:absolute;
	left:0;
}
p span:before {
	bottom:0;
}
p span:after {
	bottom:2px;
}

h2 {
	text-align:center;
	text-transform:uppercase;
	font-weight:300;
	font-size:80px;
}



/* Start Footer */
#footer-section {
	width: 100%;
	min-height: 80px;
}
/* End Footer */