/* IMPORTS Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700);

/* RESET */
*, ::after, ::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family:'Roboto', sans-serif;
	color:#fff;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url(../images/contact.jpg);
	background-repeat:no-repeat;
	background-position:50% 0;
	background-size:cover;
	padding: 0;
	margin: 0;
}

/* Start Header */
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin:0 0 50px 0;
}
.logo {
	height: 50px;
	width: 50px;
	margin: 0 10px;
}
h1 {
	text-align:center;
	font-size:66px;
	font-family:'Roboto', sans-serif;
	position:relative;
}
/* End Header */


/* Start CountDown */
.container-countdown {
	background-color: darkred;
	width: 100%;
	min-height: 100%;
}
.content {
	overflow:hidden;
	height: 100%;
}
p {
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	margin:0;
}
p span {
	display:inline-block;
	position:relative;
	padding-bottom:15px;
}
p span:before,
p span:after {
	content:"";
	width:100%;
	height:10px;
	border-bottom:1px double #fff;
	position:absolute;
	left:0;
}
p span:before {
	bottom:0;
}
p span:after {
	bottom:2px;
}

h2 {
	text-align:center;
	text-transform:uppercase;
	font-weight:300;
	font-size:80px;
}

.time-count-container {
	height:100%;
	margin-top:50px;
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.time-box {
    width:150px;
	height:150px;
	display:flex;
	flex-direction: row;
	border:3px solid #fff;
	margin:50px 10px;

    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border-radius:15px;
}
.time-box-inner {
	width:150px;
	height:150px;
	text-align:center;
}
.time-number {
    font-size:65px;
	width:100%;
	display:inline-block;
	font-weight:300;
	padding-top: 15%;
}
.digit {
	line-height: 60px;
	display: inline-block;	
	overflow: hidden;
}

.time-name {
	font-size:15px;
	text-transform:uppercase;
	font-weight:700;
}
/* End CountDown */

/* Start Footer */
#footer-section {
	width: 100%;
	min-height: 80px;
}
#footer-section p {
	margin: 0;
	padding: 25px 15px; 
	text-align: center;
	line-height: 30px;
	color: #000000;
}
#footer-section p a {
	color: #af0909;
}
/* End Footer */

/* Start Media Queries */
@media screen and (max-width:799px) {
    body {
		height: 100%;
	}
    h1 {
		font-size:45px;
		padding-bottom: 10px;
		margin:0 0 10px 0;
	}
	h2 {
		font-size:40px;
	}
    .time-count-container{
		display:flex;
		flex-direction: column;
		background-color: lawngreen;
        /* Je saigne des yeux */
		margin: 40px auto;
	}
    .time-box {
		width:80px;
		height:80px;
		display:flex;
		flex-direction: row;
		border:3px solid #fff;
		margin:0px auto!important;
	}
    .time-box-inner {
		width:50px;
		height:50px;
		text-align:center;
	}

}